In [ ]:
#QSN-1-Write a code to create a string with your name and print it.
my_name = "Gaurab"

#Print the string
print(my_name)

Gaurab

In [ ]:
#QSN-2-Write a code to find the length of the string "Hello World".
task = "Hello World"

# Use the len() function to find the length of the string
length = len(task)

# Print the length
print("Length of the string:", length)

Length of the string: 11

In [ ]:
#QSN-3-Write a code to slice the first 3 characters from the string "Python Programming".
task2 = "Python Programming"

# Slice the first 3 characters
sliced_string = task2[:3]

# Print the sliced string
print("First 3 characters:", sliced_string)

First 3 characters: Pyt

In [ ]:
#QSN-4-Write a code to convert the string "hello" to uppercase.
task3 = "hello"

# Use the upper() method to convert to uppercase
uppercase_task = task3.upper()

# Print the uppercase string
print("Uppercase string:", uppercase_task)

Uppercase string: HELLO

In [ ]:
#QSN-5-Write a code to replace the word "apple" with "orange" in the string "I like apple".
task4 = "I like apple"

# Use the replace() method to replace "apple" with "orange"
new_task = task4.replace("apple", "orange")

# Print the new string
print("New task:", new_task)

New task: I like orange

In [ ]:
#QSN-7-Write a code to create a list with numbers 1 to 5 and print it.
task5 = list(range(1, 6))

# Print the list
print("List of task5:", task5)

List of task5: [1, 2, 3, 4, 5]

In [ ]:
#QSN-Write a code to append the number 10 to the list [1, 2, 3, 4].
task6 = [1, 2, 3, 4]

# Print the original list
print("Original List:", task6)

# Append the number 10 to the list
task6.append(10)

# Print the updated list
print("Updated List:", task6)

Original List: [1, 2, 3, 4]
Updated List: [1, 2, 3, 4, 10]

In [ ]:
#QSN-8-Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
task6 = [1, 2, 3, 4, 5]

# Print the original list
print("Original List:", task6)

# Remove the number 3 from the list
task6.remove(3)

# Print the updated list
print("Updated List:", task6)

Original List: [1, 2, 3, 4, 5]
Updated List: [1, 2, 4, 5]

In [ ]:
#QSN-9-Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
task7 = ['a', 'b', 'c', 'd']

# Access the second element
second_element = task7[1]

# Print the second element
print("Second element:", second_element)

Second element: b

In [5]:
#QSN-10-Write a code to reverse the list [10, 20, 30, 40, 50].
task8 = [10, 20, 30, 40, 50]
print("Original List:", task8)
task8.reverse()
print("Reversed List:", task8)

Original List: [10, 20, 30, 40, 50]
Reversed List: [50, 40, 30, 20, 10]

In [6]:
#QSN-11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
task9 = (10, 20, 30)
type(task9)

tuple

In [8]:
#QSN-12-Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruit_basket=('apple', 'banana', 'cherry')
task10=fruit_basket[0]
print(task10)

apple

In [9]:
#QSN-13-Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple_basket=(1, 2, 3, 2, 4, 2)
task11=tuple_basket.count(2)
print(task11)

3

In [11]:
#QSN-14-Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
pets=('dog', 'cat', 'rabbit')
task12=pets.index('cat')
print(task12)

1

In [13]:
#QSN-16- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
task13={1,2,3,4,5}
print(task13)
type(task13)

{1, 2, 3, 4, 5}

set

In [14]:
#QSN-17-Write a code to add the element 6 to the set {1, 2, 3, 4}
task14={1, 2, 3, 4}
task14.add(6)
print(task14)

{1, 2, 3, 4, 6}

In [17]:
#QSN-15-Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruit_basket2=('apple', 'orange', 'banana')
if 'banana' in fruit_basket2:
 print('yes')
else:
  print('no')

yes

In [18]:
#QSN-18-Write a code to create a tuple with the elements 10, 20, 30 and print it.
task15=(10,20,30)
print(task15)
type(task15)

(10, 20, 30)

tuple

In [21]:
#QSN-19-Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
task16=fruit_basket[0]
print(task16)

apple

In [22]:
#QSN-20-Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).(repeat qsn 13)
tuple_basket=(1, 2, 3, 2, 4, 2)
task11=tuple_basket.count(2)
print(task11)

3

In [23]:
#QSN-21-Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').(Repeat qsn 14)
pets=('dog', 'cat', 'rabbit')
task12=pets.index('cat')
print(task12)

1

In [24]:
#QSN-22-Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').(Repeat qsn 15)
fruit_basket2=('apple', 'orange', 'banana')
if 'banana' in fruit_basket2:
 print('yes')
else:
  print('no')

yes

In [25]:
#QSN-23- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.(Repeat qsn 16)
task13={1,2,3,4,5}
print(task13)
type(task13)

{1, 2, 3, 4, 5}

set

In [26]:
#QSN-24-Write a code to add the element 6 to the set {1, 2, 3, 4}.(Repeat qsn 17)
task14={1, 2, 3, 4}
task14.add(6)
print(task14)

{1, 2, 3, 4, 6}